*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
}

.first-color{
    background: green;
    height: 50px;
}

.second-color{
    background: red;
    height: 50px;
}

.third-color{
    background: blue;
    height: 50px;
}

.first-flag , .second-flag{
    width: 300px;
    margin-bottom: 50px;
}

.float{
    float: left;
    width: 100px;
}

.row1{
    height: 50px;
}

.row2{
    background: yellow;
    height: 50px;
}


.four-color{
    background: purple;
height: 50px;
}

.five-color{
    background: #33ff57;
    height: 50px;
}

.row3 .float{
    width: 150px;
}